{% extends "govuk/template.njk" %}

{% set assetPath = "/assets" %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ serviceName }}
{% endblock %}

{% block head %}
  <link href="/govuk-frontend.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}
</html>
