# Node.js ignores
node_modules/
prototypes/node_modules/
_site/

# Prototype ignores - per-user
.tmp/
prototypes/.tmp/
prototypes/.env
prototypes/migrate.log
prototypes/usage-data-config.json

# General ignores
.DS_Store
.idea


WARP.md
.vscode
Makefile

# Local Netlify folder
.netlify
