@mixin container-apply($selector) {
  .#{$selector} {
    &__top {
      margin: $govuk-gutter-half 0;
      @include govuk-media-query($from: tablet) {
        > * {
          margin: 0;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $govuk-gutter-half * 2;
      }
    }
    &__actions {
      display: flex;
      gap: 0;
      flex-direction: column;
      @include govuk-media-query($from: tablet) {
        flex-direction: row;
        align-items: center;
        gap: $govuk-gutter-half * 2;
      }

      > * {
        margin: 0;
      }

      > fieldset {
        display: block;
      }
      .govuk-label {
        max-width: fit-content;
      }
    }
  }
}
 
@include container-apply("map-container");
