/* Footer custom content */
.custom-footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  &__version-info {
    font-size: 12px;
  }
  &__separator {
    color: $govuk-border-colour;
  }
}
@include govuk-media-query($from: tablet) {
  .custom-footer-content {
    align-items: flex-end;
    flex-direction: row;
    gap: 30px;
    dl {
      margin-bottom: 5px;
      margin-top: 0;
    }
  }
}
