{% extends "layouts/hero.html" %}
{% from "components/hero/macro.html" import hero with context %}

{% block content %}
    {{ super() }}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <!-- edit this file at scripts/index.js -->
    <script type="module" src="{{ basePath }}/scripts/index.js"></script>
{% endblock %}