{% extends "layouts/hero.html" %}
{% from "components/hero/macro.html" import hero with context %}

{% block content %}
    {{ super() }}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}

    <script type="module" src="{{ basePath }}/scripts/index.js"></script>
    <script type="module" src="{{ basePath }}/frontend-components/frontend-components.es.js"></script>
{% endblock %}