{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-l">
      Trust
    </h2>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/trust/start-page-simplified">Start page (simple)</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Start page (explanatory)</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Start page (responsible)</a>
  </li>
    <li>
    <a class="govuk-link" href="#">End page (output)</a>
  </li>
</ul>
  </div>
</div>

{% endblock %}
