{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% macro hero(title, lede) %}
  <div class="hero">
    <div class="hero__container govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Alpha"
        },
        html: feedbackHtml
      }) }}
      <div class="hero__content">
        {% if title %}
          <h1 class="hero__title">{{ title }}</h1>
        {% endif %}
        {% if lede %}
          <p class="hero__lede">
            {{ lede }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}