{% extends "prototypes/geo-reference/layouts/default.njk" %}

{% from "components/loading-spinner/macro.html" import loadingSpinner %}

{% block content %}
  {{ super() }}
  {{ loadingSpinner("/prototypes/geo-reference/api/jobs.json") }}
{% endblock %}