{% extends "layouts/prototype-default.njk" %}

{% from "components/loading-spinner/macro.html" import loadingSpinner %}

{% set prefix = '/' + pathPrefix  | replace('/', '') + basePath    %}
{% set apiUrl = prefix + "api/jobs.json"   %}
{% set redirectPath = prefix + "results/1/"   %}

{% block content %}
  {{super()}}
  {{ loadingSpinner(apiUrl) }}
{% endblock %}


{% block bodyEnd %}
  {{ super() }}
  <script>
    setTimeout(() => {
      window.location.href = "{{ redirectPath }}";
    }, 20000);
  </script>
{% endblock %}