{% extends "layouts/prototype-default.njk" %}

{% from "components/loading-spinner/macro.html" import loadingSpinner %}

{% set prefix = '/' + pathPrefix  | replace('/', '') + basePath    %}
{% set apiUrl = prefix + "api/jobs.json"   %}

{% block content %}
  {{super()}}
  {{ loadingSpinner(apiUrl) }}
{% endblock %}


{% block bodyEnd %}
  {{ super() }}
  <script type="module">

function slugify(text) {
  text = text.replace(/^\s+|\s+$/g, ""); // trim leading/trailing white space
  text = text.toLowerCase(); // convert string to lowercase
  text = text
    .replace(".", "-") // replace dots with dashes
    .replace(/[^a-z0-9 -]/g, "") // remove any non-alphanumeric characters
    .replace(/\s+/g, "-") // replace spaces with hyphens
    .replace(/-+/g, "-"); // remove consecutive hyphens
  return text;
};
    // Get the area from the query string
    const urlParams = new URLSearchParams(window.location.search);
    const file = urlParams.get('file');
    // slugify the file name
    const slug = slugify(file);
    


    setTimeout(() => {
      window.location.href = "{{prefix}}results/" + slug;
    }, 1000);
  </script>
{% endblock %}