---
  pagination:
    data: geoReferenceResults
    size: 1
    alias: geoReferenceResult
  permalink: "/prototypes/geo-reference/results2/{{ geoReferenceResult.name | slugify }}/"
---

{{geoReferenceResult.filename}} 