{% extends "prototypes/geo-reference/upload.njk" %}

{% set docType = "treepreservationorder" %}
{% set errorDocType = "true" %}
{% set errorMessages = [ { text: "Please select a document type to upload", href: "#type" } ] %}