
{% if layoutType === 'default' %}
  {% extends "layouts/default.njk" %}
{% elif layoutType === 'hero' %}
  {% extends "layouts/hero.njk" %}
{% else %}
  {% extends "layouts/default.njk" %}
{% endif %}
  

{# overwrite some globals #}

{% set feedbackUrl = false %}
{% set feedbackHtml = "This is a prototype - your feedback will help us to improve it." %}
  
{# Use standard footer component #}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% block footer %}
 {{ govukFooter({}) }}
{% endblock %}

{% set defaultStyles %}
  <link rel="stylesheet" href="/prototypes/styles/extract-frontend-components.css" />
  {# Use isSubDirectory to determine which stylesheet to load #} {% if
  isSubDirectory %}
  <link rel="stylesheet" href="/prototypes/styles/styles-subdir.css" />
  {% else %}
  <link rel="stylesheet" href="/prototypes/styles/styles.css" />
  {% endif %}
{% endset %}


{% set defaultScripts %}
  {# load the application.js file which includes govuk-frontend initAll() #}
  <script type="module" src="/assets/application.js"></script>

  {# load the frontend components js #}
  <script type="module" src="/prototypes/scripts/extract-frontend-components.es.js"></script>

  {# load our own scripts file from /app directory #}
  <script type="module" src="/prototypes/scripts/index.js"></script>
{% endset %}


{% block head %}
  {{ super() }}
  {% block styles %}
    {{ defaultStyles | safe }}
  {% endblock styles %}
{% endblock head %}

{% block bodyEnd %}
  {{ super() }}
  {% block scripts %}
    {{ defaultScripts | safe }}
  {% endblock scripts %}
{% endblock bodyEnd %}
