<simple-map 
    title="{{ params.title }}" 
    zoom="{{ params.zoom }}" 
    lat="{{ params.lat }}" 
    lng="{{ params.lng }}" 
    publicPath="{{ params.publicPath }}" 
    basePath="{{ params.basePath }}" 
    standalone="{{ params.standalone }}"
></simple-map>