{% extends "layouts/hero.html" %}
{% from "components/hero/macro.html" import hero %}

{% block header %}
  {{ super() }}
  {{ hero("A collection of prototypes for Extract", "Extract uses AI to unlock historical planning data, built in partnership between MHCLG's Planning Data team and the Incubator for AI.", "Feedback! &hellip;") }}
{% endblock %}

{% block content %}
  {{ super() }}
  <p class="govuk-body">{{ publicPath | dump }}</p>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/prototypes/prototype.js"></script>
{% endblock %}