{% extends "layouts/default.html" %}

{# TODO sort this #}

{% set errorMessages = [ { text: "Please select a document type to upload", href: "#type" } ] %}
{% block content %}

  <div class="govuk-body">
    <h1>Extract Prototyping & Testing</h1>
    <p>This is a collection of prototypes for Extract.</p>
    <ul>
      <li><a href="geo-reference">w/c 26 Jan 2026 - Geo-reference</a></li>
    </ul>
  </div>
{% endblock %}