{% extends "layouts/default.html" %}

{% block content %}
<div class="govuk-body">
    <h1>Prototypes</h1>
    <p>This is a collection of prototypes for Extract.</p>
    <ul>
        <li><a href="hero">Hero page</a></li>
        <li><a href="tabs-example">Tabs example</a></li>
    </ul>
</div>
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/prototypes/prototype.js"></script>
{% endblock %}