{% extends "layouts/prototype-default.njk" %}
{% set pageName = "This is a standard page pattern" %}

{% block content %}
  {{super()}}
  <h1 class="govuk-heading-l">{{pageName}}</h1>
  <p class="govuk-body">
    This is an example-page
  </p>
    <p class="govuk-body">
    Debug info:
    <br/>Service Name: {{serviceName | dump}}
    <br/>Base Path: {{basePath | dump}}
    <br/>Path Prefix: {{pathPrefix | dump}}
    <br /><a href="{{basePath}}" class="govuk-link">View hero example</a>
  </p>

{% endblock %}