
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% macro entityTasks(entityType, entities, jobId, entityId) %}

{% set taskCompleted = {
  tag: {
		text: "Completed",
		classes: "govuk-tag--green"
	}
} %}

{% set taskIncomplete = {
  tag: {
    text: "Incomplete",
    classes: "govuk-tag--blue"
  }
} %}

{% set entityTitles = entityType | entityTitle %}

{% set title = entityTitles.singular %}
{% if entities|length > 1 %}
	{% set title = entityTitles.plural %}
{% endif %}


{% if entities|length > 0  %}
  {% if title %}
    <h2 class="govuk-heading-m">
      {{title | capitalize}}
    </h2>
		<p class="govuk-hint">
			{% if entityType === 'article4direction' %}
				This dataset is about article 4 directions. These are directions from local planning authorities to withdraw specified permitted development rights across a defined area.
			{% elif entityType === 'article4directionarea' %}
				This dataset is about the geometry that each article 4 direction refers to.
			{% elif entityType === 'conservationarea' %}
				This dataset is about conservation areas. These are areas of special architectural or historic interest with a character or appearance that must be preserved or enhanced.
			{% elif entityType === 'conservationareadocument' %}
				This dataset is about conservation area documents. These are documents that describe a conservation area.
			{% elif entityType === 'treepreservationorder' %}
				This dataset is about tree preservation orders (TPOs). These are orders made by local planning authorities to protect specific trees, groups of trees or woodlands.
			{% elif entityType === 'tree' %}
				This dataset is about trees. These are individual trees that are under a tree preservation order.
			{% elif entityType === 'treepreservationzone' %}
				This dataset is about tree preservation zones. These are areas of trees that are under a tree preservation order. You may also know them as tree preservation zones or groups.
			{% endif %}
			<br />We found <strong>{{ entities.length }}</strong> {{title | lower }} in your uploaded document.
		</p>

	{% endif %}


	{% set entityTasks = [] %}

	{% for entity in entities %}
		{% set taskStatus = taskIncomplete %}

		{% if entity.verified %}
			{% set taskStatus = taskCompleted %}
		{% endif %}

		{% set path = basePath ~ 'extractions/' ~ jobId ~ '/entity/' ~ entity.id %}
		{% if entityId %}
			{# this means its faking being an entity and its actually metadata #}
			{% set path = basePath ~ 'extractions/' ~ jobId ~ '/entity/' ~ entityId %}
		{% endif %}

		{% set _ = entityTasks.push({
			title: { text: entity.properties.name }, 
			href: path,
			status: taskStatus
		}) %}

	{% endfor %}


	{{ govukTaskList({ idPrefix: entityType, items: entityTasks}) }}

{% endif %}

{% endmacro %}