---
permalink: /prototypes/geo-reference/api/job-completed.json
eleventyExcludeFromCollections: true
---

{
  "id": "0cdde695-21f5-43fe-8a02-cc80a499d822",
  "created_datetime": "2026-01-21T15:53:46.913272Z",
  "title": "Article 4.pdf",
  "status": "completed",
  "job_type": "article4direction",
  "extraction_result": {
    "id": "4b2869c3-08d4-490f-b03d-966b67eb969c",
    "extraction_id": "0cdde695-21f5-43fe-8a02-cc80a499d822",
    "extracted_objects": [
      {
        "id": "5932fcb5-0feb-4d06-b3c4-d67ac239cd6c",
        "extraction_result_id": "4b2869c3-08d4-490f-b03d-966b67eb969c",
        "type": "article4direction",
        "geometry": {
          "type": "MultiPolygon",
          "coordinates": [
            [
              [
                [
                  -0.1647901,
                  51.5561964
                ],
                [
                  -0.1646638,
                  51.5562098
                ],
                [
                  -0.1646639,
                  51.5561913
                ],
                [
                  -0.164836,
                  51.5561464
                ],
                [
                  -0.1648495,
                  51.5561502
                ],
                [
                  -0.1650853,
                  51.5561345
                ],
                [
                  -0.1650046,
                  51.5562574
                ],
                [
                  -0.1647901,
                  51.5561964
                ]
              ]
            ],
            [
              [
                [
                  -0.1650464,
                  51.5567252
                ],
                [
                  -0.1651003,
                  51.5567467
                ],
                [
                  -0.1651744,
                  51.5567686
                ],
                [
                  -0.164975,
                  51.557046
                ],
                [
                  -0.1649365,
                  51.557107
                ],
                [
                  -0.1648251,
                  51.5573467
                ],
                [
                  -0.1647456,
                  51.5574772
                ],
                [
                  -0.1646805,
                  51.557746
                ],
                [
                  -0.1642476,
                  51.5577172
                ],
                [
                  -0.164238,
                  51.557597
                ],
                [
                  -0.1642459,
                  51.557544
                ],
                [
                  -0.1642796,
                  51.5574232
                ],
                [
                  -0.1643283,
                  51.5573259
                ],
                [
                  -0.1643582,
                  51.5572814
                ],
                [
                  -0.1645698,
                  51.5570612
                ],
                [
                  -0.1649319,
                  51.5566649
                ],
                [
                  -0.1650577,
                  51.5567114
                ],
                [
                  -0.1650464,
                  51.5567252
                ]
              ]
            ],
            [
              [
                [
                  -0.1647049,
                  51.558039
                ],
                [
                  -0.1647047,
                  51.5582077
                ],
                [
                  -0.1646692,
                  51.5583366
                ],
                [
                  -0.1646312,
                  51.5584385
                ],
                [
                  -0.1646053,
                  51.5585249
                ],
                [
                  -0.1641996,
                  51.5584628
                ],
                [
                  -0.1642189,
                  51.5584289
                ],
                [
                  -0.1642755,
                  51.5582783
                ],
                [
                  -0.1642861,
                  51.5581953
                ],
                [
                  -0.1642875,
                  51.5579799
                ],
                [
                  -0.1647006,
                  51.557967
                ],
                [
                  -0.1647049,
                  51.558039
                ]
              ]
            ]
          ]
        },
        "original_geometry": {
          "type": "MultiPolygon",
          "coordinates": [
            [
              [
                [
                  -0.1647901,
                  51.5561964
                ],
                [
                  -0.1646638,
                  51.5562098
                ],
                [
                  -0.1646639,
                  51.5561913
                ],
                [
                  -0.164836,
                  51.5561464
                ],
                [
                  -0.1648495,
                  51.5561502
                ],
                [
                  -0.1650853,
                  51.5561345
                ],
                [
                  -0.1650046,
                  51.5562574
                ],
                [
                  -0.1647901,
                  51.5561964
                ]
              ]
            ],
            [
              [
                [
                  -0.1650464,
                  51.5567252
                ],
                [
                  -0.1651003,
                  51.5567467
                ],
                [
                  -0.1651744,
                  51.5567686
                ],
                [
                  -0.164975,
                  51.557046
                ],
                [
                  -0.1649365,
                  51.557107
                ],
                [
                  -0.1648251,
                  51.5573467
                ],
                [
                  -0.1647456,
                  51.5574772
                ],
                [
                  -0.1646805,
                  51.557746
                ],
                [
                  -0.1642476,
                  51.5577172
                ],
                [
                  -0.164238,
                  51.557597
                ],
                [
                  -0.1642459,
                  51.557544
                ],
                [
                  -0.1642796,
                  51.5574232
                ],
                [
                  -0.1643283,
                  51.5573259
                ],
                [
                  -0.1643582,
                  51.5572814
                ],
                [
                  -0.1645698,
                  51.5570612
                ],
                [
                  -0.1649319,
                  51.5566649
                ],
                [
                  -0.1650577,
                  51.5567114
                ],
                [
                  -0.1650464,
                  51.5567252
                ]
              ]
            ],
            [
              [
                [
                  -0.1647049,
                  51.558039
                ],
                [
                  -0.1647047,
                  51.5582077
                ],
                [
                  -0.1646692,
                  51.5583366
                ],
                [
                  -0.1646312,
                  51.5584385
                ],
                [
                  -0.1646053,
                  51.5585249
                ],
                [
                  -0.1641996,
                  51.5584628
                ],
                [
                  -0.1642189,
                  51.5584289
                ],
                [
                  -0.1642755,
                  51.5582783
                ],
                [
                  -0.1642861,
                  51.5581953
                ],
                [
                  -0.1642875,
                  51.5579799
                ],
                [
                  -0.1647006,
                  51.557967
                ],
                [
                  -0.1647049,
                  51.558039
                ]
              ]
            ]
          ]
        },
        "properties": {
          "name": "South Hill Park and Hampstead No. 1 Pond Area",
          "notes": "The area is defined by properties on South Hill Park and land bordering Hampstead No. 1 Pond. The document explicitly mentions modifications to the original text, including the exclusion of areas shown hatched blue and specific properties (68-70 South Hill Park) from the direction.",
          "point": {
            "type": "Point",
            "coordinates": [
              -0.16461150304074657,
              51.5575281403105
            ]
          },
          "uprns": null,
          "entity": 0,
          "prefix": "",
          "end_date": null,
          "addresses": null,
          "map_pages": [
            7
          ],
          "reference": "",
          "entry_date": "2026-01-21",
          "start_date": "1989-01-03",
          "description": "This area covers land at and including 32 to 90 South Hill Park, London NW3 (even numbers only), and land at the rear thereof bordering Hampstead No. 1 Pond. The direction excludes areas shown hatched blue on the annexed plan and specifically excludes properties known as 68-70 South Hill Park. The restrictions apply to developments within the curtilage of a dwellinghouse, including enlargement, improvement or other alteration of a dwellinghouse, erection or construction of a porch, installation, alteration or replacement of a satellite antenna, erection, construction or placing of incidental buildings or enclosures, construction of a hardstanding for vehicles, and erection or placing of a tank for the storage of oil for domestic heating. These developments would normally be permitted under Class 1 of Schedule 1 of the Town and Country Planning General Development Order 1977.",
          "address_text": [
            "32-66 (Even numbers only) South Hill Park NW3",
            "72-90 (Even numbers only) South Hill Park NW3",
            "Land at the rear of 32-90 South Hill Park bordering Hampstead No. 1 Pond"
          ],
          "article4direction": null,
          "location_confidence": 0.9,
          "organisation_entity": "",
          "individual_addresses": true,
          "permitted_development_rights": [
            "1A",
            "1D",
            "1H",
            "1E",
            "1F"
          ],
          "polygon_extraction_confidence": 0.95,
          "permitted_development_rights_details": {
            "1A": {
              "name": "1A",
              "pdr_name": "Enlargement, improvement or other alteration of a dwellinghouse",
              "reference": "1A",
              "is_expired": false,
              "start_date": "1995-01-01",
              "description": "The enlargement, improvement or other alteration of a dwellinghouse",
              "match_method": "llm_assisted",
              "legislation_url": "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/part/1/crossheading/class-a-enlargement-improvement-or-other-alteration-of-a-dwellinghouse/made",
              "match_confidence": 0.8756928796876539,
              "pdr_planning_url": "https://www.planning.data.gov.uk/entity/11500001"
            },
            "1D": {
              "name": "1D",
              "pdr_name": "Porches",
              "reference": "1D",
              "is_expired": false,
              "start_date": "1995-01-01",
              "description": "The erection or construction of a porch outside any external door of a dwellinghouse",
              "match_method": "llm_assisted",
              "legislation_url": "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/part/1/crossheading/class-d-porches/made",
              "match_confidence": 0.9057017454148433,
              "pdr_planning_url": "https://www.planning.data.gov.uk/entity/11500004"
            },
            "1E": {
              "name": "1E",
              "pdr_name": "Buildings etc incidental to the enjoyment of a dwellinghouse",
              "reference": "1E",
              "is_expired": false,
              "start_date": "1995-01-01",
              "description": "The provision within the curtilage of the dwellinghouse of: (a) any building or enclosure, swimming or other pool required for a purpose incidental to the enjoyment of the dwellinghouse as such, or the maintenance, improvement or other alteration of such a building or enclosure; (b) a container used for domestic heating purposes for the storage of oil or liquid petroleum gas.",
              "match_method": "llm_assisted",
              "legislation_url": "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/part/1/crossheading/class-e-buildings-etc-incidental-to-the-enjoyment-of-a-dwellinghouse/made",
              "match_confidence": 0.8560053067508077,
              "pdr_planning_url": "https://www.planning.data.gov.uk/entity/11500005"
            },
            "1F": {
              "name": "1F",
              "pdr_name": "Hard surfaces incidental to the enjoyment of a dwellinghouse",
              "reference": "1F",
              "is_expired": false,
              "start_date": "1995-01-01",
              "description": "Development consisting of: (a) the provision within the curtilage of a dwellinghouse of a hard surface for any purpose incidental to the enjoyment of the dwellinghouse as such; (b) the replacement in whole or in part of such a surface.",
              "match_method": "llm_assisted",
              "legislation_url": "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/part/1/crossheading/class-f-hard-surfaces-incidental-to-the-enjoyment-of-a-dwellinghouse/made",
              "match_confidence": 0.8734786517250591,
              "pdr_planning_url": "https://www.planning.data.gov.uk/entity/11500006"
            },
            "1H": {
              "name": "1H",
              "pdr_name": "Microwave antenna on a dwellinghouse",
              "reference": "1H",
              "is_expired": false,
              "start_date": "1995-01-01",
              "description": "The installation, alteration or replacement of a microwave antenna on a dwellinghouse or within the curtilage of a dwellinghouse",
              "match_method": "llm_assisted",
              "legislation_url": "https://www.legislation.gov.uk/uksi/2015/596/schedule/2/part/1/crossheading/class-h-microwave-antenna-on-a-dwellinghouse/made",
              "match_confidence": 0.8797703933567427,
              "pdr_planning_url": "https://www.planning.data.gov.uk/entity/11500008"
            }
          }
        },
        "verified": false
      }
    ],
    "metadata": {
      "name": "London Borough of Camden Article 4 Direction for South Hill Park",
      "notes": "The direction was approved by the Secretary of State for the Environment subject to modifications shown in red ink on the document. The original memorandum indicates that the direction was approved subject to modifications shown in manuscript.",
      "entity": 0,
      "prefix": "",
      "end_date": null,
      "reference": "",
      "entry_date": "2026-01-21",
      "start_date": "1989-01-03",
      "description": "This Article 4 Direction, made by the London Borough of Camden under the Town and Country Planning Act 1971 and the Town and Country Planning General Development Order 1977, restricts permitted development rights for land at 32-90 South Hill Park, London NW3 (even numbers only) and land at the rear bordering Hampstead No. 1 Pond. The Council is of the opinion that development of the descriptions set out in the Schedule should not be carried out without planning permission, as it would constitute a threat to the amenities of the area. The direction specifically withdraws permission granted by Article 3 of the 1977 Order for certain developments within the curtilage of a dwellinghouse, including enlargement, improvement, or alteration of a dwellinghouse, erection of porches, installation of satellite antennas, erection of incidental buildings or enclosures, construction of hardstandings, and erection or placing of oil storage tanks.",
      "document_url": "0cdde695-21f5-43fe-8a02-cc80a499d822.pdf",
      "documentation_url": "",
      "organisation_entity": ""
    },
    "properties_rating": null,
    "properties_comment": null,
    "geometry_rating": null,
    "geometry_comment": null
  },
  "source_file_download_url": "http://localstack:4566/localstack-extract-app-data/app_data/user-uploads/test%40test.co.uk/0cdde695-21f5-43fe-8a02-cc80a499d822.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=000000000000%2F20260121%2Feu-west-2%2Fs3%2Faws4_request&X-Amz-Date=20260121T163606Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=a7852ddec7e0232b0eb0e5f5c819594cd98612c1a27de5e61e30a8d7ef030176"
}